NODE_ENV=development
SESSION_SECRET=372f79df29a1113a00d5bde03125eddc
DATABASE_URL=postgresql://neondb_owner:npg_MfB8mlWiSkN4@ep-hidden-band-adzjfzr3-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
APP_DOMAIN=www.theconnection.app
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
FORCE_EMAIL_MOCK_MODE=true
